account_file = "gcp-project-name.account-file"
project      = "gcp-project-name"
region       = "us-central1"
zone         = "us-central1-b"
ssh-user     = "your-current-system-username"
ssh-identity = "/home/your-current-system-username/.ssh/id_rsa"
master-count = 3
slave-count  = 5
